.header{
    background: #2F4858;
    color:#ffffff;
    text-align: center;
    padding: 20px;
    border-bottom: 1px darken(#2F4858, 9) solid;
    .vcenter{
        min-height: 300px;
    }    
    p{
        font-size: 1em; 
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.5;
    }
}